Web References/PI_WS/ThirdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LOGINSMTPULLLISTENTRY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LOGINSMTPULLLISTENTRYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LOGINSMTPULLLISTENTRYResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QTYPERREELPULLLISTENTRY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="material" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QTYPERREELPULLLISTENTRYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QTYPERREELPULLLISTENTRYResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETDATAFROMSMTPULLLIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bnum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETDATAFROMSMTPULLLISTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GETDATAFROMSMTPULLLISTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEFROMSMTPULLLIST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="material" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bnum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DELETEFROMSMTPULLLISTResponse">
        <s:complexType />
      </s:element>
      <s:element name="GETMATERIALQUANTITYPERREEL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="material" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETMATERIALQUANTITYPERREELResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GETMATERIALQUANTITYPERREELResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SAVEPULLLISTDATA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="material" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s_reqQty" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="reelQty" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="badgeNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SAVEPULLLISTDATAResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LOGINSMTPULLLISTENTRYSoapIn">
    <wsdl:part name="parameters" element="tns:LOGINSMTPULLLISTENTRY" />
  </wsdl:message>
  <wsdl:message name="LOGINSMTPULLLISTENTRYSoapOut">
    <wsdl:part name="parameters" element="tns:LOGINSMTPULLLISTENTRYResponse" />
  </wsdl:message>
  <wsdl:message name="QTYPERREELPULLLISTENTRYSoapIn">
    <wsdl:part name="parameters" element="tns:QTYPERREELPULLLISTENTRY" />
  </wsdl:message>
  <wsdl:message name="QTYPERREELPULLLISTENTRYSoapOut">
    <wsdl:part name="parameters" element="tns:QTYPERREELPULLLISTENTRYResponse" />
  </wsdl:message>
  <wsdl:message name="GETDATAFROMSMTPULLLISTSoapIn">
    <wsdl:part name="parameters" element="tns:GETDATAFROMSMTPULLLIST" />
  </wsdl:message>
  <wsdl:message name="GETDATAFROMSMTPULLLISTSoapOut">
    <wsdl:part name="parameters" element="tns:GETDATAFROMSMTPULLLISTResponse" />
  </wsdl:message>
  <wsdl:message name="DELETEFROMSMTPULLLISTSoapIn">
    <wsdl:part name="parameters" element="tns:DELETEFROMSMTPULLLIST" />
  </wsdl:message>
  <wsdl:message name="DELETEFROMSMTPULLLISTSoapOut">
    <wsdl:part name="parameters" element="tns:DELETEFROMSMTPULLLISTResponse" />
  </wsdl:message>
  <wsdl:message name="GETMATERIALQUANTITYPERREELSoapIn">
    <wsdl:part name="parameters" element="tns:GETMATERIALQUANTITYPERREEL" />
  </wsdl:message>
  <wsdl:message name="GETMATERIALQUANTITYPERREELSoapOut">
    <wsdl:part name="parameters" element="tns:GETMATERIALQUANTITYPERREELResponse" />
  </wsdl:message>
  <wsdl:message name="SAVEPULLLISTDATASoapIn">
    <wsdl:part name="parameters" element="tns:SAVEPULLLISTDATA" />
  </wsdl:message>
  <wsdl:message name="SAVEPULLLISTDATASoapOut">
    <wsdl:part name="parameters" element="tns:SAVEPULLLISTDATAResponse" />
  </wsdl:message>
  <wsdl:portType name="ThirdServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LOGINSMTPULLLISTENTRY">
      <wsdl:input message="tns:LOGINSMTPULLLISTENTRYSoapIn" />
      <wsdl:output message="tns:LOGINSMTPULLLISTENTRYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QTYPERREELPULLLISTENTRY">
      <wsdl:input message="tns:QTYPERREELPULLLISTENTRYSoapIn" />
      <wsdl:output message="tns:QTYPERREELPULLLISTENTRYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GETDATAFROMSMTPULLLIST">
      <wsdl:input message="tns:GETDATAFROMSMTPULLLISTSoapIn" />
      <wsdl:output message="tns:GETDATAFROMSMTPULLLISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DELETEFROMSMTPULLLIST">
      <wsdl:input message="tns:DELETEFROMSMTPULLLISTSoapIn" />
      <wsdl:output message="tns:DELETEFROMSMTPULLLISTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GETMATERIALQUANTITYPERREEL">
      <wsdl:input message="tns:GETMATERIALQUANTITYPERREELSoapIn" />
      <wsdl:output message="tns:GETMATERIALQUANTITYPERREELSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SAVEPULLLISTDATA">
      <wsdl:input message="tns:SAVEPULLLISTDATASoapIn" />
      <wsdl:output message="tns:SAVEPULLLISTDATASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ThirdServiceSoap" type="tns:ThirdServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LOGINSMTPULLLISTENTRY">
      <soap:operation soapAction="http://tempuri.org/LOGINSMTPULLLISTENTRY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QTYPERREELPULLLISTENTRY">
      <soap:operation soapAction="http://tempuri.org/QTYPERREELPULLLISTENTRY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETDATAFROMSMTPULLLIST">
      <soap:operation soapAction="http://tempuri.org/GETDATAFROMSMTPULLLIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETEFROMSMTPULLLIST">
      <soap:operation soapAction="http://tempuri.org/DELETEFROMSMTPULLLIST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETMATERIALQUANTITYPERREEL">
      <soap:operation soapAction="http://tempuri.org/GETMATERIALQUANTITYPERREEL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SAVEPULLLISTDATA">
      <soap:operation soapAction="http://tempuri.org/SAVEPULLLISTDATA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ThirdServiceSoap12" type="tns:ThirdServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LOGINSMTPULLLISTENTRY">
      <soap12:operation soapAction="http://tempuri.org/LOGINSMTPULLLISTENTRY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QTYPERREELPULLLISTENTRY">
      <soap12:operation soapAction="http://tempuri.org/QTYPERREELPULLLISTENTRY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETDATAFROMSMTPULLLIST">
      <soap12:operation soapAction="http://tempuri.org/GETDATAFROMSMTPULLLIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DELETEFROMSMTPULLLIST">
      <soap12:operation soapAction="http://tempuri.org/DELETEFROMSMTPULLLIST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETMATERIALQUANTITYPERREEL">
      <soap12:operation soapAction="http://tempuri.org/GETMATERIALQUANTITYPERREEL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SAVEPULLLISTDATA">
      <soap12:operation soapAction="http://tempuri.org/SAVEPULLLISTDATA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThirdService">
    <wsdl:port name="ThirdServiceSoap" binding="tns:ThirdServiceSoap">
      <soap:address location="http://172.16.206.19/PART_INFO/ThirdService.asmx" />
    </wsdl:port>
    <wsdl:port name="ThirdServiceSoap12" binding="tns:ThirdServiceSoap12">
      <soap12:address location="http://172.16.206.19/PART_INFO/ThirdService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>